#active-game {
  text-align: center;
  margin: 2rem 0 5rem 0;
  display: none;
}

#game-over {
  max-width: 40rem;
  margin: auto;
  width: 90%;
  padding: 1rem 2rem;
  background-color: rgb(50, 5, 87);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: white;
  display: none;
}

#game-over h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: 100;
}

#active-player-name {
  font-weight: bold;
  color: rgb(50, 5, 87);
}
